:root {
    --primary-color: #34AD71;
    --secondary-color: #496120;
}

body {
    font: normal 20px Titillium Web, Roboto, Arial, sans-serif;
}

a.h1 {
    font-size: 28px;
    font-weight: bold;
    color: #fff; /* var(--primary-color); */
}

h4 {
  text-align: center;
}


nav.navbar {
    background-color: var(--secondary-color);
}

li.nav-item {
    font-size: 22px
}

a.nav-link {
    color: #fff;
}

p {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-left: 15px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
